<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
      <ul>
        <li>
          <a href="{% url "crud:index" %}">Home</a>
        </li>
        {% if not request.user.is_authenticated %}
        
        <li>
          <a href="{% url "accounts:login" %}">로그인</a>
        </li>

        <li>
          <a href="{% url "accounts:signup" %}">회원가입</a>
        </li>

        {% else %}
        <li>
          <a href="{% url "crud:new" %}">New</a>
        </li>
        <li>
          <a href="{% url "accounts:logout" %}">로그아웃</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% block content %}{% endblock content  %}
</body>
</html>