<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/util/">main page</a>
            </li>
            <li>
                <a href="/util/time">time</a>
            </li>
            <li>
                <a href="/util/lotto_in">lotto_out</a>
            </li>
            <li>
                <a href="/util/lotto_out">lotto_in</a>
            </li>
        </ul>
    </nav>
    
    {% block content %}{% endblock content  %}
</body>
</html>