{% extends "base2.html" %} 

{% block content %}
<h1>학생 정보 수정</h1>

<form action= "/school/{{student.pk}}/update/">
   <div>
      <label for="name">이름 :</label>
      <input type="text" id="name" name="name" value = {{student.name}}>
   </div>
   
   <div>
      <label for="age">나이 :</label>
      <input type="number" id = "age" name ="age" value = {{student.age}}> 
   </div>

   <div>
      <label for="major">전공 : </label>
      <input type="text" id = "major" name ="major" value = {{student.major}}>
   </div>
   
   <div>
      <label for="description">세부사항 :</label>
      <textarea name ="description" id = "description" cols = "30" rows = "10">{{student.description}}</textarea>
   </div> 

    <div>
        <button>수정하기</button>
    </div>
</form>

{% endblock content %}